In [5]:
# Loop control statement.
# break
fruits_basket=['Mango','Apple','Orange','Grapes']
print("Output: ")
for fruit in fruits_basket:
    if fruit=='Apple':
        break
    print("Fruits:",fruit)
print("\nLoop got terminated")
# continue
# pass

Output:
Fruits: Mango

Loop got terminated

In [11]:
# Continue
fruits_basket=['Mango','Apple','Orange','Grapes']
print("Output: ")
for fruit in fruits_basket:
    if fruit=='Apple':
        continue
    print("Fruits:",fruit)
print("\nLoop got terminated")
# continue

Output:
Fruits: Mango
Fruits: Orange
Fruits: Grapes

Loop got terminated

In [13]:
for i in range(2,20):
    pass
print("This is outside for loop")

This is outside for loop

In [15]:
# Function and Module

In [17]:
# motivation behind functions:
# Lets say i need to add two numbers...But i don't know the valuu.

In [19]:
def fun_name(a,b):
    print(a+b)

In [21]:
def display(): # Function definition or header.
    print("This is an online class.") # Function body
print("This is outside the function")
display() # Function invocation/calling of function.
# Rules of writing the function means cannot use the reserve word.

This is outside the function
This is an online class.

In [29]:
# Add two number:
def sum_num(a,b):# Formal parameter
    sum=a+b
    return sum
sum_num(3,6) # arguments

9

In [31]:
def add(a,b):
    return a+b
c=add(3,8)
print(c)

11

In [33]:
# After return value any other line cannot be print out in the python function.

In [37]:
# List extract even number from a list.
def even_list(a):
    even=[]
    for i in a:
        if i%2==0:
            even.append(i)
    return even
L=[1,2,3,4,5,6,7,8,9,10]
print(even_list(L))

[2, 4, 6, 8, 10]

In [39]:
# Can you return a list which contain values between 5 and 10 only

In [47]:
def even_list(a):
    even=[]
    for i in a:
        if 5<=i and i<=10:
            even.append(i)
    return even
L=[1,2,3,4,5,6,7,8,9,10]
print(even_list(L))

[5, 6, 7, 8, 9, 10]

In [49]:
# Variable-length/Arbitrary arguments:

In [51]:
# Average
def average(a,b,c):
    return (a+b+c)/3
average(2,4,7)

4.333333333333333

In [55]:
def average(*args):
    sum,count=0,0
    for i in args:
        sum=sum+i
        count=count+1
    return sum/count
print("The average of three number are: ",average(10,30,40))
print("The average of three number are: ",average(10,30,40,50,20))

The average of three number are:  26.666666666666668
The average of three number are:  30.0

In [57]:
# lambda function

In [63]:
a=lambda x,y:x+y
c=a(19,21)
print(c)

40

In [ ]:
# Write a function