In [5]:
import numpy as np

# Creating a composite numpy data type (structured array)
# In this above code name is of 10 unicode, the age is store in the integer, and height is store in float.
emp = np.dtype([('name', 'U20'), ('age', 'i4'), ('height', 'f4')]) 

# Creating structured array with sample data
arr = np.array([('Amar', 20, 5.7),('Sushma', 20, 5.3),('Arpita', 18, 5.3),('Sidhu', 21, 5.8),('Binisha', 20, 5.4)], dtype=emp)

In [7]:
# (b) Print all names
print("Here is the all name of Student:", arr['name']) 
# It will give the name of all students created.

Here is the all name of Student: ['Amar' 'Sushma' 'Arpita' 'Sidhu' 'Binisha']

In [9]:
# (c) Update age of first individual to 30
arr['age'][0] = 30
print("\nAfter updating Amar age to 30:")
print(arr)

After updating Amar age to 30:
[('Amar', 30, 5.7) ('Sushma', 20, 5.3) ('Arpita', 18, 5.3)
 ('Sidhu', 21, 5.8) ('Binisha', 20, 5.4)]

In [45]:
# (d) Add new record
new_record = np.array([('Asmita', 25, 5.1)], dtype=emp)
arr = np.concatenate((arr, new_record))
print("\nAfter adding the new record:")
print(arr)

After adding the new record:
[('Amar', 30, 5.7) ('Sushma', 20, 5.3) ('Arpita', 18, 5.3)
 ('Sidhu', 30, 5.8) ('Binisha', 20, 5.4) ('Asmita', 25, 5.9)
 ('Asmita', 25, 5.9) ('Asmita', 25, 5.1)]

In [47]:
# Average height
avg_height = np.mean(arr['height'])
print("\nAverage height is:", avg_height)

Average height is: 5.55

In [49]:
# Maximum age
max_age = np.max(arr['age'])
print("Maximum age is:", max_age)

Maximum age is: 30

In [11]:
# Maximum age
max_age = np.argmax(arr['age'])
print("Maximum age is:", max_age)

Maximum age is: 0

In [15]:
# Display the name of the youngest person (use argmin for age)
youngest_index = np.argmin(arr['age'])
print("The youngest person is:", arr['name'][youngest_index], "with age", arr['age'][youngest_index])

The youngest person is: Arpita with age 18

In [53]:
# Correlation between age and height
correlation = np.corrcoef(arr['age'], arr['height'])[0, 1]
print("\nCorrelation between age and height:", correlation)

Correlation between age and height: 0.5833578997276516

In [13]:
# Correlation between age and height
from scipy.stats import pearsonr
corr, p_value = pearsonr(arr['age'], arr['height'])
print("\nCorrelation between Age and Height:", corr)
print("p-value:", p_value)

Correlation between Age and Height: 0.6108654986460715
p-value: 0.2737463786586259